body {
  font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  color: #55595c;
  letter-spacing: 1px;
}
h1 {
  font-size: 1.8rem;
  padding: 16px 0;
  letter-spacing: 3px;
  color: #1a1a1a;
  font-weight: 600;
}
.outter {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
}

.form {
  font-size: 14px;
}
input::placeholder {
  font-size: 14px;
  letter-spacing: 1px;
}

.label {
  display: block;
  height: 21px;
  /* width: 104px; */
  margin-top: 8px;
  margin-bottom: 8px;
}
.input {
  height: 21px;
  width: 407px; /* magic number */
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 12px 24px;
  border: 0px;
  background-color: #f7f7f9;
  border-radius: 0;
}
.input:focus {
  outline: none;
  border: 3px solid #ced4da;
}

.button {
  /* width: 44.56px;
  height: 24px; */
  padding: 12px 24px;
  margin: 8px 0px;
  font-weight: 500;
  background-color: rgb(26, 26, 26);
  color: #fff;
  border: 0px;
  border-radius: 0;
  line-height: 1.5rem;
}
.button:hover {
  cursor: pointer;
}

.register {
  width: 455px; /* magic number */
  height: 21px;
}

a {
  color: #1a1a1a;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
