* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Promo;
  src: url(/fonts/Promo/Promo-Bold.eot);
  src: url(/fonts/Promo/Promo-Bold.eot?#iefix) format("embedded-opentype"),
    url(./fonts/Promo-Bold.woff) format("woff"),
    url(/fonts/Promo/Promo-Bold.ttf) format("truetype"),
    url(/fonts/Promo/Promo-Bold.svg) format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: FriendlyFont;
  src: url(./fonts/FriendlyFont.eot);
  src: url(/site_fonts/FriendlyFont/FriendlyFont.eot) format("embedded-opentype"), url(.fonts/FriendlyFont.woff) format("woff"), url(/site_fonts/FriendlyFont/FriendlyFont.otf) format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

nav {
  width: 100vw;
  height: 70px;
  position: absolute;
  top: 0;
}

.nav_container {
  width: 1140px;
  height: 70px;
  padding: 0 15px;
  margin: 0 auto;
  /* 居中 */
}

.nav_left {
  padding: 0 0 0 15px;
  float: left;
}

.logo_image {
  width: 202px;
  height: 28px;
  margin: 18.94px 0 0 -15px;
}

.nav_right {
  list-style: none;
  width: 580.461px;
  height: 70px;
  color: #fff;
  float: right;
  /* overflow: hidden; */
}

.nav_right:hover {
  text-decoration: underline;
}

.nav_right li {
  text-decoration: none;
  float: left;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 35px;
  font-family: Promo, Helvetica, Arial, sans-serif;
}

.nav_right li>a {
  text-decoration: none;
  color: #fff;
}

.nav_right li>a:hover {
  text-decoration: underline;
}

.friendly {
  font-family: Promo;
}

.price {
  margin: 16px 15px 19px;
}

.status {
  margin: 16px 0 19px 6px;
  padding: 0 10px 1px;
  position: relative;
  width: 52.352px;
  text-align: right;
}

.status:before {
  content: "";
  position: absolute;
  top: 13px;
  left: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #47c652;
}

.login {
  margin: 16px 0 19px 15px;
  padding: 0 10px 1px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}

.signup {
  margin: 16px 0 19px 15px;
  padding: 0 10px 1px;
  position: relative;
  background-color: #f47b21;
  border-radius: 3px;
}

.background {
  color: #fff;
  /* width: 100vw; */
  height: 314px;
  padding: 140px 0 160px;
  background: url(https://weatherstack.com/site_images/mountains.svg),
    linear-gradient(135deg, #1f4e69 0, #164058 100%);
  background-size: cover;
  background-position: center;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  font-family: Promo, Helvetica, Arial, sans-serif;
}

.realtime h2 {
  width: 433.74px;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 40px;
}

.realtime h4 {
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 25px;
}

.num_of_companies {
  display: block;
  width: 362px;
  height: 25px;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  padding: 9px 10px 13px 9px;
  margin: 8px 0 15px 0;
  border: 0 solid rgba(255, 255, 255, 1);
  border-radius: 17px;
  line-height: 25px;
  background: rgba(255, 255, 255, .1);
}

.start {
  display: inline-block;
  width: 228px;
  height: 58px;
  margin-top: 20px;
  margin-right: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  background: #f47b21;
  font-size: 14px;
  text-align: center;
  line-height: 58px;
}

.start:hover {
  text-decoration: underline;
  cursor: pointer;
}

.friendly1 {
  font-family: FriendlyFont, sans-serif;
}